flask
requests
ollama
smolagents
litellm
google.generativeai
scikit-learn
numpy
smolagents
pandas
langchain
langchain-community
sentence-transformers
datasets
python-dotenv
rank_bm25
chromadb
chainlit
requests
transformers
sentence-transformers
huggingface_hub
pytest
